* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

/* Aplica 'Libre Caslon Text' específicamente a los encabezados */
h1,h2,h3,h4,h5,h6,a,p,label {
    font-family: 'Libre Caslon Text', serif;
}

body {
    margin: 0;
    background-color: #CADAC1;
}

header {
    background-color: #305D58;
    color: white;
    padding: 20px;
    margin: 0;
    display: flex;
    justify-content: space-between;
    /* Distribuye los elementos a los extremos */
    align-items: center;
    /* Alinea verticalmente los elementos */
    font-size: 26px;

}


header h1 {
    margin: 0;
    /* Elimina el margen predeterminado del h1 */
    font-size: 28px;
    font-style: normal;
}

header a {
    display: flex;
    /* Para que el SVG se comporte como un bloque flexible */
    align-items: center;
    /* Alinea el SVG verticalmente en el centro */
}

.linveSvg {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
main{
    margin-top: 2.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    width: 100%;
}

.main {
    padding: 30px 80px;
}

#userVector {
    width: 2.5875rem;
    height: 2.58781rem;
    flex-shrink: 0;
    fill: #FFF;
}


nav {
    background-color: #EEBA93;
    padding: 10px 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* Distribuye equitativamente el espacio entre elementos */
    align-items: center;
    flex-wrap: wrap;
    /* Permite que los elementos se envuelvan a la siguiente línea */
}

nav .menu {
    display: flex;
    flex-wrap: wrap;
    /* Permite que los elementos se envuelvan a la siguiente línea */
    justify-content: space-evenly;
    /* Distribuye equitativamente el espacio entre elementos */
    width: 100%;
}

nav a {
    color: black;
    text-decoration: none;
    padding: 15px;
    font-size: 18px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

nav a:hover {
    background-color: #ECD8A5;
}

nav .menu-toggle {
    display: none;
    /* Oculto por defecto */
    flex-direction: column;
    cursor: pointer;
}

nav .menu-toggle div {
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 4px;
}

/* Media queries para ajustar el diseño en pantallas más pequeñas */
@media (max-width: 768px) {
    nav .menu {
        display: none;
        /* Oculta el menú por defecto */
        flex-direction: column;
        /* Cambia la dirección a columna */
        width: 100%;
    }

    nav .menu a {
        width: 100%;
        text-align: center;
        padding: 10px 0;
    }

    nav .menu-toggle {
        display: flex;
        /* Muestra el botón de menú hamburguesa */
    }
}

.form-section {
    background-color: #ede6db5c;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    text-align: left;
}
.form-section h2 {
    margin-bottom: 20px;
    color: #4d5645;
}
.form-group {
    margin-bottom: 15px;
    margin-right: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.organismo-options button {
    background-color: #d3d3d3;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin-right: 10px;
    cursor: pointer;
}

input[type="date"],
input[type="number"],
input[type="text"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

textarea {
    height: 100px;
}

button[type="submit"] {
    background-color: #264f39;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
