* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

/* Aplica 'Libre Caslon Text' específicamente a los encabezados */
h1, h2, h3, h4, h5, h6, a, p {
    font-family: 'Libre Caslon Text', serif;
}

body {
    margin: 0;
    background-color: #000000;
}

header {
    background-color: #305D58;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between; /* Distribuye los elementos a los extremos */
    align-items: center; /* Alinea verticalmente los elementos */
    font-size: 26px;
}

header a {
    display: flex; /* Para que el SVG se comporte como un bloque flexible */
    align-items: center; /* Alinea el SVG verticalmente en el centro */
}

#userVector {
    width: 2.5875rem;
    height: 2.58781rem;
    fill: #FFF;
}

nav {
    background-color: #EEBA93;
    padding: 10px 0;
    display: flex;
    justify-content: center; /* Centra los elementos */
    align-items: center;
    flex-wrap: wrap; /* Permite que los elementos se envuelvan a la siguiente línea */
}

nav .menu {
    display: flex;
    justify-content: space-around; /* Distribuye equitativamente el espacio entre elementos */
    width: 80%;
}

nav a {
    color: black;
    text-decoration: none;
    padding: 15px 20px;
    font-size: 18px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

nav a:hover {
    background-color: #ECD8A5;
}

article {
    background-color: black96666;
    color: white;
    padding: 20px;
    text-align: center;
}

.title {
    font-size: 24px;
    margin-bottom: 20px;
}

.feature {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: calc(100vh - 160px); /* Altura del artículo menos el espacio reservado para el header y el nav */
}

.feature a {
    text-decoration: none;
    color: white;
    flex: 1;
    margin: 10px;
}

.feature-item {
    position: relative;
    width: 100%;
    height: 100%; /* Altura completa del contenedor padre */
    overflow: hidden;
    border-radius: 10px;
}

.feature img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    filter: brightness(0.7); /* Aplica un filtro de brillo reducido */
    transition: filter 0.3s ease; /* Transición suave al cambiar el filtro */
}

.feature img:hover {
    filter: brightness(1); /* Restablece el brillo al pasar el cursor */
}

.feature p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px 20px;
    border-radius: 10px;
}

@media (max-width: 768px) {
    nav .menu {
        display: none;
        /* Oculta el menú por defecto */
        flex-direction: column;
        /* Cambia la dirección a columna */
        width: 100%;
    }

    nav .menu a {
        width: 100%;
        text-align: center;
        padding: 10px 0;
    }

    nav .menu-toggle {
        display: flex;
        /* Muestra el botón de menú hamburguesa */
    }
}